.project

# java stuff
.factorypath
/target/
/.settings/
.classpath
/build/

# other
.README.md.html
*.dtwig
.externalToolBuilders


# angular stuff
node_modules
/.apt_generated/
src/main/angular/src/app/**/*.js
src/main/angular/src/app/**/*.js.map
src/main/angular/dist
.vscode
