# java stuff
.factorypath
/target/
/.settings/
.classpath
/build/

# angular 2 stuff
node_modules
/.apt_generated/
src/main/webapp/src/app/**/*.js
src/main/webapp/src/app/**/*.js.map
src/main/webapp/dist
