.project

# java stuff
.factorypath
/target/
/.settings/
.classpath
/build/

# angular 2 stuff
node_modules
/.apt_generated/
src/main/typescript/src/app/**/*.js
src/main/typescript/src/app/**/*.js.map
src/main/typescript/dist
.README.md.html
*.dtwig
