.cell {
}
.well-img {
	border: 1px solid transparent;	/* So when changed to highlighted, active, it doesn't move */
	border-radius: 5px;
}
.cell-img {
	border: 3px solid transparent;	/* So when changed to highlighted, active, it doesn't move */
	border-radius: 5px;
}
.cell-img-size {
	/*
	width: 10%;
	min-width: 50px;
	*/
	/* max-height: 10em; */
}
.cell-html {
/*
	display: block;
    width: 50%;
    */
}