.cell-img {
	/*
	width: 100%;
	height: auto;
	*/
	border: 3px solid transparent;	/* So when changed to highlighted, active, it doesn't move */
	border-radius: 5px;
}
.cell-html {
/*
	display: block;
    */
    width: 50%;
}