
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.apache.http" level="WARN"/>

	<logger name="cat.calidos.morfeu.model.injection" level="WARN"/>
	<logger name="cat.calidos.morfeu.control.MorfeuServletListener" level="INFO"/>
	<logger name="cat.calidos.morfeu.control" level="WARN"/>
	<logger name="cat.calidos.morfeu.control.ContentSaveControl" level="TRACE"/>
	<logger name="cat.calidos.morfeu.control.injection" level="TRACE"/>	
	<logger name="cat.calidos.morfeu.model.metadata.injection" level="WARN"/>
	<logger name="cat.calidos.morfeu.CellModelsFilterModule" level="TRACE"/>
	<logger name="cat.calidos.morfeu.utils.injection" level="WARN"/>
	<logger name="cat.calidos.morfeu.utils.injection.SaverModule" level="TRACE"/>
	<logger name="cat.calidos.morfeu.webapp" level="WARN"/>
	<logger name="cat.calidos.morfeu.webapp.injection.ControlModule" level="WARN"/>	<!--  debug servlet framework -->

	<!-- logger name="cat.calidos.morfeu.webapp.GenericMorfeuServlet" level="WARN"/>
	<logger name="cat.calidos.morfeu.control.MorfeuServletListener" level="INFO"/>
	<logger name="cat.calidos.morfeu.control.MorfeuRequestFilter" level="INFO"/-->


	<logger name="cat.calidos.morfeu.proxy.MorfeuProxyServlet" level="TRACE"/>
	<logger name="cat.calidos.morfeu.webapp.injection.ControlModule" level="WARN"/>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
