<ng-container [ngSwitch]="true">
<!-- check for ROOT here -->
	<ng-container *ngSwitchCase="cell.cellModel && (cell.cellModel.presentation === 'WELL' || isFragment)">
		<img *ngIf="!isFragment" src="{{getCellPresentation()}}"
			class="well-img img-fluid"
			[class.drag-active]="active"
			[class.drag-inactive]="!active"
			[class.cell-active]="active"
			[class.cell-active-readonly]="activeReadonly"
			[class.cell-selected]="selected"
			(mouseenter)="focusOn(cell)"
			(mouseleave)="focusOff(cell)"
		/>
		<!-- 
			dnd-draggable
			[dragEnabled]="dragEnabled"
			(onDragEnd)="dragEnd(cell)"
			[dragData]="cellDragData()"
		 -->
		<div id="{{cell.URI}}"
			class="well container-fluid show-grid cell-level-{{level}} rounded"
			[class.cell-active]="active"
			[class.cell-active-readonly]="activeReadonly"
			[class.cell-selected]="selected"
		>
			<!-- drop area to be able to add new rows to this well -->
			<div class="row">
				<div class="col">
					<drop-area *ngIf="parent" [parent]="cell" [position]="0"></drop-area>
				</div>
			</div>
			<cell *ngFor="let c of cell.children; let i=index" 
					[cell]="c"
					[parent]="cell"
					[level]="level+1"
					[position]="i"
					[snippet]="snippet"
			></cell>
		</div>
		<!-- TODO: we probable want a drop area here to be able to add new wells -->
	</ng-container>

	<ng-container *ngSwitchCase="cell.cellModel && cell.cellModel.presentation === 'ROW-WELL'">
		<img src="{{getCellPresentation()}}"
			class="well-img img-fluid"
			[class.drag-active]="active"
			[class.drag-inactive]="!active"
			[class.cell-active]="active"
			[class.cell-active-readonly]="activeReadonly"
			[class.cell-selected]="selected"
			(mouseenter)="focusOn(cell)"
			(mouseleave)="focusOff(cell)"
		/>
		<!-- 
			dnd-draggable
			[dragEnabled]="dragEnabled"
			(onDragEnd)="dragEnd(cell)"
			[dragData]="cellDragData()"
		 -->
		<div id="{{cell.URI}}"
			class="row-well row show-grid cell-level-{{level}} rounded"
			[class.cell-active]="active"
			[class.cell-active-readonly]="activeReadonly"
			[class.cell-selected]="selected"
		 >
			<!-- add a drop area here if we ever want to dynamically add new columns -->
			<cell *ngFor="let c of cell.children; let i=index"
						[cell]="c"
						[parent]="cell"
						[level]="level+1"
						[position]="i"
						[snippet]="snippet"
			></cell>
		</div>
		<!-- drop area to be able to add new row after this one -->
		<div class="row">
			<div class="col">
				<drop-area *ngIf="parent" [parent]="cell" [position]="position+1"></drop-area>
			</div>
		</div>
	</ng-container>

	<ng-container *ngSwitchCase="cell.cellModel && cell.cellModel.presentation === 'COL-WELL'">
		<!-- col-{{this.cell.columnFieldValue()}} cell-level-{{level}}" -->
		<div id="{{cell.URI}}"
			class="col-well col show-grid cell-level-{{level}} rounded"
			[class.cell-active]="active"
			[class.cell-active-readonly]="activeReadonly"
			[class.cell-selected]="selected"
			><!--COL-{{this.cell.columnFieldValue()}}-->
			<!-- drop area here to add anything at the beginning of the column -->
			<drop-area *ngIf="parent" [parent]="cell" [position]="0"></drop-area>
			<cell *ngFor="let c of cell.children; let i=index"
					[cell]="c"
					[parent]="cell"
					[level]="level+1"
					[position]="i"
					[snippet]="snippet"
			></cell>
		</div>
	</ng-container>

	<ng-container *ngSwitchCase="cell.cellModel && cell.cellModel.presentation.startsWith('CELL') && !isFragment">
		<!-- TODO: check the model and the content as well (counts, etc.) -->
		<img id="{{cell.URI}}" *ngIf="cellPresentationIsIMG()"
			[class.cell-img]="!active && !activeReadonly && !selected"
			[class.cell-active]="active"
			[class.cell-active-readonly]="activeReadonly"
			[class.cell-selected]="selected"
			class="cell cell-img-size img-fluid cell-level-{{level}}"
			src="{{getCellPresentation()}}"
			(mouseenter)="focusOn(cell)"
			(mouseleave)="focusOff(cell)"
		/>
		<!-- 
			dnd-draggable
			[dragEnabled]="dragEnabled"
			(onDragEnd)="dragEnd(cell)"
			[dragData]="cellDragData()"
			(dblclick)="doubleClick()"
		 -->
		<div id="{{cell.URI}}" *ngIf="!cellPresentationIsIMG()" 
			class="cell cell-img-size cell-level-{{level}}"
			[class.cell-active]="active"
			[class.cell-active-readonly]="activeReadonly"
			[class.cell-selected]="selected"
			(mouseenter)="focusOn(cell)"
			(mouseleave)="focusOff(cell)"
		>
		<!-- 
			dnd-draggable
			[dragEnabled]="dragEnabled"
			(onDragEnd)="dragEnd(cell)"
			[dragData]="cellDragData()"
			(dblclick)="doubleClick()"
		 -->
		<!-- TODO: maybe change into an image to make it more elegant? But image drag is weird -->
			<div style="background-color: lightgrey; border-radius: 5px;"><small>{{cell.cellModel.name}}</small></div>
			<presentation *ngIf="!cellPresentationIsIMG()" [cell]="cell" ></presentation>
		</div>
		<!-- the position of the drop area is always where droped cells will go -->
		<drop-area *ngIf="parent" [parent]="parent" [position]="position+1"></drop-area>
	</ng-container>

</ng-container>
