.cell {}
.well {
/*
				padding: 0;
				align-content: stretch;
 */
	}
.row-well {
	background-color: rgba(255, 0, 0, .05);
}
.col-well {}
.show-grid	{
	background-color: rgba(200, 200, 200, .05);
	border: 3px solid #c8c8c8;
}
.cell-active {
	border: 3px solid #00f000;
	border-radius: 5px;
}
.cell-active-readonly {
	border: 3px solid red;
	border-radius: 5px;
	/*background-color: red;*/
}
.cell-selected {
	border: 3px dashed blue;
	border-radius: 5px;
}
.cell-readonly {}

.cell-dragged {
	opacity: .2;
}
.drag-inactive {
	opacity: .6;
}
.drag-active {
	opacity: .9;
}
.cell-level-0 {}
.cell-level-1 {}
.cell-level-2 {}
.cell-level-3 {}
.cell-level-4 {}
.cell-level-5 {}
.cell-level-6 {}
.cell-level-7 {}
.cell-level-8 {}
.cell-level-9 {}
.cell-level-10 {}
.cell-level-11 {}
.cell-level-12 {}
.cell-level-13 {}
.cell-level-14 {}
.cell-level-15 {}
.cell-level-16 {}
.cell-level-17 {}
.cell-level-18 {}
