<breadcrumb></breadcrumb>
<!-- if we change the cell so the root cell is presented like a well we are good to go to remove dirty if here-->
<ng-container *ngIf="content" [class.content-info]="info">
	<div class="container-fluid text-center">
	<div class="row myrow">
		<div class="col-4 mycol">
		    <div class="mycell">
			    <img src="http://localhost:3000/assets/images/data-cell.svg" />
		    </div>
		</div>
		<div class="col-8 mycol">
			<div class="row myrow">
				<div class="col-6 mycol">
				    <div class="mycell">
					    <img src="http://localhost:3000/assets/images/data-cell.svg" />
				    </div>
				<img src="/dyn/preview/svg/data2.svg?__header=data2&number=42&text=blahblah"/>
				</div>
				<div class="col-6 mycol">
				    <div class="mycell">
					<img src="/dyn/preview/svg/data2.svg?__header=data2&number=42&text=blahblah"/>
					</div>
					<div class="mycell">
						<img src="/dyn/preview/svg/data2.svg?__header=data2&number=42&text=blahblah"/>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- row -->
</div>
		<small *ngIf="info"><strong>{{content.name}}</strong>:[<em>childrenCount={{content.childrenCount()}}</em>]</small>
		<ng-container *ngIf="!isFragment">
				<!--div class="row">
					<div class="col">
						<drop-area [parent]="content" [position]="0"></drop-area>
					</div>
				</div-->
			<cell *ngFor="let cell of content.children; let i=index"
					[parent]="content" 
					[cell]="cell" [level]="0" 
					[position]="i"
			></cell>
		</ng-container>
		<ng-container *ngIf="isFragment">
			<small *ngIf="info">[FRAGMENT]</small>
			<cell 
					[parent]="content.parent" 
					[cell]="content" [level]="0" 
					[position]="0"
					[isFragment]="true"
			></cell>
		</ng-container>
		<!-- TODO: static checks using the model and not what's already present (cells) -->
	<!--ng-container *ngIf="this.cellSelectingMode">cellSelectingMode</ng-container>
	<ng-container *ngIf="this.dropAreaSelectingMode">dropAreaSelectingMode</ng-container-->
</ng-container>
<!-- THIS DISPLAYS AS IT SHOULD -->
<!--div class="container-fluid" style="border: 2px solid rgba(86, 62, 128, .2)">
		<div class="row" style="border: 2px solid rgba(86, 62, 128, .2)">
			<div class="col-4" style="border: 2px solid rgba(86, 62, 128, .2)">
			  <img class="img-fluid" src="http://localhost:3000/assets/images/data-cell.svg" />
			</div>
			<div class="col-8" style="border: 2px solid rgba(86, 62, 128, .2)">
			  <div class="row">
				<div class="col-6" style="border: 2px solid rgba(86, 62, 128, .2)">
				  <img src="http://localhost:3000/assets/images/data-cell.svg" />
				  <img src="http://localhost:3000/assets/images/data-cell.svg" />
				</div>
			<div class="col-6" style="border: 2px solid rgba(86, 62, 128, .2)">
			  <img src="http://localhost:3000/assets/images/data-cell.svg" />
			  <img src="http://localhost:3000/assets/images/data-cell.svg" />
			</div>
			</div>
		</div>
</div-->