<!--
-->
	<div id="{{cellModel.id}}"
		class="cell-model-entry cell-model-position-{{index}}">
	<img
		src={{getThumb()}}
		class="cell-model-thumb img-fluid"
		[class.cell-model-active]="active"
		[class.cell-model-selected]="this.selected"
		(mousedown)="clickDown()"
		(mouseup)="clickUp()"
		(mouseenter)="clickDown()"
		(mouseleave)="clickUp()"
		dnd-draggable
		[dragEnabled]="dragEnabled"
		(onDragEnd)="dragEnd()"
		[dragData]="cellModel.generateCell()"
	/>
	<span class="cell-model-name"><small>{{ cellModel.name }}</small></span>
</div>
