<ng-template let-c="close" let-d="dismiss" #editor>
	<div id="cell-editor" class="card mt-2 modal-body">
		<cell-header *ngIf="cell" [uri]="cell.URI" [cellModel]="cell.cellModel"></cell-header>
		<div class="card-body">
			<!-- class="form-inline" -->
			<form *ngIf="cell" #form_="ngForm"> {{formCallback(form_)}}
				<textarea *ngIf="cell.value!=undefined && showText()"
					class="cell-editor-value form-control"
					rows="textAreaRows()"
					name="{{cell.cellModel.name}}.value"
					attr.aria-label="{{cell.cellModel.name}}.value"
					attr.aria-describedby="{{cell.cellModel.desc}} value"
					[(ngModel)]="cell.value"
					(change)="modifiedValue($event)"
					(input)="modifiedValue($event)"
				></textarea>
					<div *ngIf="cell.value!=undefined && showCode()">
						<code-editor [cell]="cell"></code-editor>
					</div>
					<!-- create new value button -->
					<img  *ngIf="cell.value==undefined && showValue()"
						id="cell-editor-create-value-button"
						class="btn btn-outline-danger float-right"
						src="assets/images/open-iconic/plus.svg"
						(click)="createValue()"
					/>
					<!-- remove value button -->
					<img *ngIf="cell.value!=undefined && showValue()"
						id="cell-editor-remove-value-button"
						class="btn btn-outline-danger float-right"
						src="assets/images/open-iconic/circle-x.svg"
						(click)="removeValue()"
					/>
				<!-- show attributes -->
				<ul *ngIf="showAttributes" class="list-group list-group-flush">
					<attribute-data-editor *ngFor="let a of cell.cellModel.attributes; let i = index"
						[parentCell]="cell"
						[cellModel]="a"
						[index]="i"
					></attribute-data-editor>
				</ul>
				<!-- show categories otherwise, first the default -->
				<ul *ngIf="showCategories" ngbNav #nav="ngbNav" [destroyOnHide]="false" class="nav-tabs">
					<li [ngbNavItem]="cell.cellModel.category" class="cell-editor-category"> <!-- default  -->
						<a ngbNavLink class="cell-editor-category-link">{{cell.cellModel.category}}</a>
						<ng-template ngbNavContent>
							<attribute-data-editor *ngFor="let a of defaultCategoryAttributes; let i = index"
								[parentCell]="cell"
								[cellModel]="a"
								[index]="i"
							></attribute-data-editor>
						</ng-template>
					</li>
					<li *ngFor="let c of categories" [ngbNavItem]="c" class="cell-editor-category">
						<a ngbNavLink class="cell-editor-category-link">{{c}}</a>
						<ng-template ngbNavContent>
							<attribute-data-editor *ngFor="let a of attributesByCategory.get(c); let i = index"
								[parentCell]="cell"
								[cellModel]="a"
								[index]="i"
							></attribute-data-editor>
						</ng-template>
					</li>
					<div [ngbNavOutlet]="nav"></div>
				</ul>
			</form>
			<!-- presentation goes here -->
			<img *ngIf="showPresentation() && cellPresentationIsIMG()"
				class="card-img-bottom" src="{{getPresentation()}}"
				alt="Image representation of the cell" />
			<presentation *ngIf="showPresentation() && !cellPresentationIsIMG()" [cell]="cell" ></presentation>
		</div>
		<div class="modal-footer card-footer">
			<button id="cell-editor-discard-button"
				type="button"
				class="btn btn-outline-secondary float-left"
				(click)="c('Discard')"
			>Discard</button>
			<button id="cell-editor-save-button"
				type="button"
				class="btn btn-success float-right"
				(click)="c('Save')"
				[disabled]="!canSave"
			>Save</button>
		</div>
	</div>
</ng-template>