<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee https://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_4_0.xsdd"
	version="4.0" 
	metadata-complete="true">

	<context-param>
		<description>Resources uri prefix (default value only for integration testing), end with '/'</description>
		<param-name>__RESOURCES_PREFIX</param-name>
		<param-value>http://localhost:8080/morfeu/</param-value>
	</context-param>
	<context-param>
		<description>Proxy uri prefix</description>
		<param-name>__PROXY_PREFIX</param-name>
		<param-value>http://localhost:8090/eurinome</param-value>
	</context-param>
	<context-param>
		<description>Async servlet timeout (milliseconds)</description>
		<param-name>__ASYNC_TIMEOUT</param-name>
		<param-value>5000</param-value>
	</context-param>


	<!-- context-param> <description>Proxy mode prefix</description> <param-name>__PROXY</param-name> <param-value>http://localhost:8090/eurinome</param-value> 
		</context-param -->


	<!-- It is important to distinguish between 'raw' content (RESOURCES_PREFIX) from data processed and by enriched 
		by the servlets themselves. For example, in the default maven jetty configuration: [/morfeu/documents/]test-resources/documents/document1.json 
		will invoke the servlet and then the servlet will go and fetch the raw data from [RESOURCES_PREFIX]test-resources/documents/document1.json 
		then it will process it and enrich it in any way necessary. Usually the content will be a superset of the raw data. -->

	<!-- Generic request dispatcher -->
	<servlet>
		<display-name>generic-servlet</display-name>
		<servlet-name>MorfeuServlet</servlet-name>
		<servlet-class>cat.calidos.morfeu.control.MorfeuServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>

	<servlet-mapping>
		<servlet-name>MorfeuServlet</servlet-name>
		<url-pattern>/dyn/*</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>cat.calidos.morfeu.control.MorfeuServletListener</listener-class>
	</listener>

	<!-- filter>
		<filter-name>MorfeuRequestFilter</filter-name>
		<filter-class>cat.calidos.morfeu.control.MorfeuRequestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MorfeuRequestFilter</filter-name>
		<url-pattern>/*</url-pattern> 
	</filter-mapping-->

	<servlet>
		<servlet-name>proxy</servlet-name>
		<servlet-class>cat.calidos.morfeu.proxy.MorfeuProxyServlet</servlet-class>
		<init-param>
			<param-name>targetUri</param-name>
			<param-value>${__PROXY_PREFIX}</param-value>
		</init-param>
		<init-param>
			<param-name>log</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>proxy</servlet-name>
		<url-pattern>/proxy/*</url-pattern>
	</servlet-mapping>

</web-app>
