<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	metadata-complete="true">
  
  <context-param>  
    <description>Resources uri prefix (default value only for integration testing), end with '/'</description>  
    <param-name>RESOURCES_PREFIX</param-name>  
    <param-value>http://localhost:8080/morfeu/</param-value>  
  </context-param>


	<!-- It is important to distinguish between 'raw' content (RESOURCES_PREFIX) from data processed and by
		 enriched by the servlets themselves.
		 For example, in the default maven jetty configuration:
		 	[/morfeu/documents/]test-resources/documents/document1.json will invoke the servlet and then the 
	 	 servlet will go and fetch the raw data from 
	 	 	[RESOURCES_PREFIX]test-resources/documents/document1.json
	 	 then it will process it and enrich it in any way necessary. Usually the content will be a superset of
	 	 the raw data. -->

		<!-- Preview -->
	<servlet>
		<display-name>generic-servlet</display-name>
		<servlet-name>GenericMorfeuServlet</servlet-name>
		<servlet-class>cat.calidos.morfeu.webapp.GenericMorfeuServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GenericMorfeuServlet</servlet-name>
		<url-pattern>/dyn/*</url-pattern>
	</servlet-mapping>

</web-app>
