<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	metadata-complete="true">

	<context-param>
		<description>Resources uri prefix (default value only for integration testing), end with '/'</description>
		<param-name>__RESOURCES_PREFIX</param-name>
		<param-value>http://localhost:8080/morfeu/</param-value>
	</context-param>
	<!-- context-param>
		<description>Proxy mode prefix</description>
		<param-name>__PROXY</param-name>
		<param-value>http://localhost:8090/eurinome</param-value>
	</context-param-->


	<!-- It is important to distinguish between 'raw' content (RESOURCES_PREFIX) from data processed and by
		 enriched by the servlets themselves.
		 For example, in the default maven jetty configuration:
		 	[/morfeu/documents/]test-resources/documents/document1.json will invoke the servlet and then the 
	 	 servlet will go and fetch the raw data from 
	 	 	[RESOURCES_PREFIX]test-resources/documents/document1.json
	 	 then it will process it and enrich it in any way necessary. Usually the content will be a superset of
	 	 the raw data. -->

	<!-- Generic request dispatcher -->
	<servlet>
		<display-name>generic-servlet</display-name>
		<servlet-name>MorfeuServlet</servlet-name>
		<servlet-class>cat.calidos.morfeu.control.MorfeuServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MorfeuServlet</servlet-name>
		<url-pattern>/dyn/*</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>cat.calidos.morfeu.control.MorfeuServletListener</listener-class>
	</listener>
	
	

	<!-- Proxy mode: at the moment it's not easily configurable -->
	<servlet>
		<servlet-name>proxy</servlet-name>
		<servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
		<init-param>
			<param-name>targetUri</param-name>
			<param-value>http://localhost:8090/eurinome</param-value>
		</init-param>
		<init-param>
			<param-name>log</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>proxy</servlet-name>
		<url-pattern>/proxy/*</url-pattern>
	</servlet-mapping>
	
</web-app>
