<div class="card"> 
	<div class="card-body html-preview" style="background-color: grey"> 
{%- if problem != null -%}
		<div class="alert alert-danger" role="alert">{{problem}}</div>"
{%- elseif v.isUpdate -%}"

{%- else -%}
		<div>
			<table>
				{%- for r in v.results -%}
				<tr>
					{%- for c in r %}<td>{{c}}</td>{% endfor -%}
				</tr>
				{%- endfor -%}
			</table>
		</div>
{%- endif -%} 
	</div> 
</div>